fastapi
uvicorn[standard]
python-multipart
supabase
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pillow
opencv-python-headless
rapidfuzz
httpx
python-magic
email-validator
google-generativeai